<!--
	Mark Veltzer <mark.veltzer@gmail.com>
-->
<html>
	<head>
		<title>Ext.Viewport sample</title>
		<link rel="stylesheet" href="../../../toolkits/extjs/resources/css/ext-all.css"/>
		<script src="../../../toolkits/extjs/ext-all.js"></script>
		<script>
			Ext.onReady(function() {
				Ext.create("Ext.container.Viewport", {
					layout: {
						type: "vbox",
						align: "stretch"
					},
					items: [
					{
						xtype: "container",
						flex: 1,
						layout: {
							type: "hbox",
							align: "stretch"
						},
						items: [
							{
								xtype: "button",
								flex: 1,
								text: "b1"
							},
							{
								xtype: "button",
								flex: 2,
								text: "b2"
							}
						],
					},
					{
						xtype: "container",
						flex: 1,
						layout: {
							type: "hbox",
							align: "stretch",
						},
						items: [
							{
								xtype: "button",
								flex: 2,
								text: "b3",
							},
							{
								xtype: "button",
								flex: 1,
								text: "b4",
							},
						],
					},
					{
						xtype: "container",
						flex: 1,
						layout: {
							type: "hbox",
							align: "stretch",
						},
						items: [
							{
								xtype: "button",
								flex: 5,
								text: "b5",
							},
							{
								xtype: "button",
								flex: 1,
								text: "b6",
							},
						],
					},
					],
				});
			});
		</script>
	</head>
	<body>
	</body>
</html>
