<!DOCTYPE html>
<!--
This example shows what you need to do in order for a page with overflowing content not to have a scroll bar
automatically created for it.

	Mark Veltzer <mark.veltzer@gmail.com>
-->
<html>
	<head>
		<title>Title</title>
		<style>
			body {
				/* try remarking this line to see what happens */
				overflow: hidden;
			}
		</style>
	</head>
	<body>
		This is a lot of text00<br>
		This is a lot of text01<br>
		This is a lot of text02<br>
		This is a lot of text03<br>
		This is a lot of text04<br>
		This is a lot of text05<br>
		This is a lot of text06<br>
		This is a lot of text07<br>
		This is a lot of text08<br>
		This is a lot of text09<br>
		This is a lot of text10<br>
		This is a lot of text11<br>
		This is a lot of text12<br>
		This is a lot of text13<br>
		This is a lot of text14<br>
		This is a lot of text15<br>
		This is a lot of text16<br>
		This is a lot of text17<br>
		This is a lot of text18<br>
		This is a lot of text19<br>
		This is a lot of text20<br>
		This is a lot of text21<br>
		This is a lot of text22<br>
		This is a lot of text23<br>
		This is a lot of text24<br>
		This is a lot of text25<br>
		This is a lot of text26<br>
		This is a lot of text27<br>
		This is a lot of text28<br>
		This is a lot of text29<br>
		This is a lot of text30<br>
		This is a lot of text31<br>
		This is a lot of text32<br>
		This is a lot of text33<br>
		This is a lot of text34<br>
		This is a lot of text35<br>
		This is a lot of text36<br>
		This is a lot of text37<br>
		This is a lot of text38<br>
		This is a lot of text39<br>
		This is a lot of text40<br>
		This is a lot of text41<br>
		This is a lot of text42<br>
		This is a lot of text43<br>
		This is a lot of text44<br>
		This is a lot of text45<br>
		This is a lot of text46<br>
		This is a lot of text47<br>
		This is a lot of text48<br>
		This is a lot of text49<br>
		This is a lot of text50<br>
		This is a lot of text51<br>
		This is a lot of text52<br>
		This is a lot of text53<br>
		This is a lot of text54<br>
		This is a lot of text55<br>
		This is a lot of text56<br>
		This is a lot of text57<br>
		This is a lot of text58<br>
		This is a lot of text59<br>
	</body>
</html>
